<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/style.css" rel="stylesheet" type="text/css" />
    <title>ChatsApp</title>
</head>

<body>
    <div id="container">
        <div class="formContainer">
            <form id="loginForm" method="POST" action="/login">
                <h1>ChatsApp</h1>
                <% if (errorMessage) { %>
                    <div id="error">
                        <span> <%= errorMessage %> </span>
                        <a class="button" href="/login">x</a>
                    </div>
                <% } %>
                <input type="text" name="username" id="username" placeholder="Username"
                    <% if (username) { %>
                        value="<%= username %>"
                    <% } %>
                    />
                <input type="password" name="password" id="password" placeholder="Password" />
                <button type="submit" id="loginButton">Login</button>
            </form>
        </div>
    </div>
</body>

</html>
